*{margin: 0; padding: 0; font-family: '맑은고딕',sans-serif;}
a{text-decoration: none; color: #333;}
li,ul{list-style: none;}

/*공통*/

.container{width: 1200px;}
.m-auto{margin: 0 auto;}
.d-flex{display: flex;}
.d-none{display: none;}
.d-block{display: block;}
.abs{position: absolute;}
.rel{position: relative;}
.fix{position: fixed;}
.h100{height: 100px;}
.h200{height: 200px;}
.h300{height: 300px;}
.ofh{overflow: hidden;}

.w-100{width: 100%;}
.align-center{align-items: center;}
.justify-between{justify-content: space-between;}

/*header*/
#hd h1{margin-top: 20px;}

.d1li .d1a{font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 3;
    min-width: 120px;
    padding: 0 20px;}

.d1li:hover .d1a{
    background-color: rgba(32, 32, 114);
    color: white;
}

.d2ul{
    height: 0;
    overflow: hidden;
    left: 0; right: 0;
    transition: height 0.5s;
    min-width: 120px;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
}

#gnb .d1li:hover .d2ul{
    height: 100px ;
    z-index: 999;
    background-color: white
}
.d2ul  li:hover{
    background-color: lightskyblue;
}
.d2ul li:hover a{color: white;}

/*slider*/
#slider li{
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
#slider li.show{
    opacity: 1;
    visibility: visible;
}

/*content*/

#content > div {width: 33.333%;}
.tab h3{font-size: 20px;
        line-height: 3;
        align-items: center;
        padding: 0 10px;
       }
.tab ul{
    left: 0;
    padding: 0 10px;
    display: none;
} 
#notice li a{
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
#notice li{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
#notice span{font-size: 18px;
   }


.dis-fc{flex-direction: column;}
.tab > div.on ul{
    display: flex;
}
.tab > div.on h3{
    background-color: skyblue;
}

#gallery ul{
    justify-content: space-between;
}
#gallery img{width: 90%;}

/*footer*/
.ftlogo{width: 20%;}
.ftbox{width: 80%;}
.ftbox p{margin-left: 30%;
line-height: 3;}
